<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab"></ion-back-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullScreen>
  <ion-card>
    <!-- <img src="./madison.jpg" /> -->
    <ion-card-header>
      <ion-card-subtitle>Subtitle Card</ion-card-subtitle>
      <ion-card-title>Title Card</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use
      ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show
      message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card
      content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use
      ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show
      message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card
      content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use
      ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show
      message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card
      content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use
      ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show
      message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card
      content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use
      ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show
      message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card
      content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use
      ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show
      message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card
      content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use
      ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show
      message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card
      content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use
      ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show
      message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card
      content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use
      ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card content show
      message, use ion-card-contend Card content show message, use ion-card-contend Card content show message, use ion-card-contend Card
      content show message, use ion-card-contend
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-tabs class="tab-main">
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigateTab('tab-1')">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button (click)="navigateTab('tab-2')">
      <ion-icon name="planet"></ion-icon>
      <ion-label>Planet</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTab('tab-3')">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
